In [1]:
import os
import pandas as pd

In [2]:
os.chdir("..")

In [3]:
os.getcwd()

'c:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\machine_failure'

In [4]:
data = pd.read_csv("data/data.csv")

In [5]:
data.isna().sum()

footfall       0
tempMode       0
AQ             0
USS            0
CS             0
VOC            0
RP             0
IP             0
Temperature    0
fail           0
dtype: int64

In [6]:
data.head()

   footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0         0         7   7    1   6    6  36   3            1     1
1       190         1   3    3   5    1  20   4            1     0
2        31         7   2    2   6    1  24   6            1     0
3        83         4   3    4   5    1  28   6            1     0
4       640         7   5    6   4    0  68   6            1     0

In [7]:
num_col = ['footfall','AQ','USS','CS','VOC','RP',"IP","Temperature"]
cat_col = ['tempMode']
target = ['fail']

In [8]:
x = data.drop(columns = target)
y = data[target]

In [9]:
num_data = x[num_col]
cat_data = x[cat_col]

In [13]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()
scaled_numdat= pd.DataFrame(scaler.fit_transform(num_data),columns=num_col)

In [18]:
import pickle
with open('data/scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [19]:
data_processed = pd.concat([scaled_numdat,cat_data,y],axis=1)

In [20]:
data_processed

,footfall,AQ,USS,CS,VOC,RP,IP,Temperature,tempMode,fail
0,-0.283153,1.860497,-1.402480,0.477610,1.389813,-0.672788,-0.979504,-2.567407,7,1
1,-0.107558,-0.921775,0.043660,-0.310613,-0.810763,-1.647540,-0.353894,-2.567407,1,0
2,-0.254504,-1.617343,-0.679410,0.477610,-0.810763,-1.403852,0.897327,-2.567407,7,0
3,-0.206446,-0.921775,0.766730,-0.310613,-0.810763,-1.160164,0.897327,-2.567407,4,0
4,0.308326,0.469361,2.212869,-1.098836,-1.250878,1.276716,0.897327,-2.567407,7,0
...,...,...,...,...,...,...,...,...,...,...
939,-0.283153,1.860497,-1.402480,0.477610,0.509582,1.581326,0.897327,1.284147,7,1
940,-0.283153,0.469361,-0.679410,0.477610,1.389813,0.180120,0.897327,1.284147,7,1
941,-0.283153,1.164929,-0.679410,1.265832,0.949698,-0.246334,0.897327,1.284147,3,1
942,-0.283153,1.164929,-0.679410,-0.310613,1.389813,-0.063568,1.522937,1.284147,6,1
943,-0.266518,-0.226207,-0.679410,0.477610,0.069467,0.850262,1.522937,1.284147,7,1

In [22]:
data_processed.to_csv('data/preprocessed.csv',index=False)